@model HomeVM
<main>
        <section id="for-intro">
            <div class="container">
                <div class="row">
                    <h1 style="color: white; text-align:center;margin-top:5rem;">@Model.intro.Title</h1>
                    <p style="color: white; text-align:center; margin-top:3rem;">@Html.Raw(Model.intro.Description)</p>
                    <div class="intro-btn">
                        <button class="btnn" style="width:10rem;height:3rem;">Find Out More</button>
                    </div>
                </div>
            </div>
        </section>

        <section id="our-service">
            <div class="container">
                <div class="services-title">
                    <h1 style="text-align:center;margin-top: 15rem; font-size: 4rem; font-weight: 100;">OUR SERVICES</h1>
                </div>
                <div class="row">
                    @foreach (var item in Model.service)
                {
                    <div class="col-3" style="margin-bottom: 6rem;">
                        <div class="card" style="width: 18rem;">
                            @Html.Raw(item.Icon)
                            <div class="card-body">
                              <h5 class="card-title">@item.Title</h5>
                              <p class="card-text">@item.Description</p>
                              <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                          </div>
                    </div>
                }
                    
                </div>
            </div>
        </section>

        <section id="text-slider">
            <div class="slideshow-container">
                <div class="mySlides">
                  <q>I love you the more in that I believe you had liked me for my own sake and for nothing else</q>
                  <p class="author">- John Keats</p>
                </div>
                <div class="mySlides">
                  <q>But man is not made for defeat. A man can be destroyed but not defeated.</q>
                  <p class="author">- Ernest Hemingway</p>
                </div>
                <div class="mySlides">
                  <q>I have not failed. I've just found 10,000 ways that won't work.</q>
                  <p class="author">- Thomas A. Edison</p>
                </div>
                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>
                </div>
                <div class="dot-container">
                  <span class="dot" onclick="currentSlide(1)"></span> 
                  <span class="dot" onclick="currentSlide(2)"></span> 
                  <span class="dot" onclick="currentSlide(3)"></span> 
                </div>
        </section>

        <section id="our-blog">
            <div class="container">
                <div class="row">
                    <h1>OUR BLOG</h1>
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        @foreach (var item in Model.blogs)
                    {
                          <div class="col">
                          <div class="card">
                            <img src="~/assets/img/post/@item.ImageUrl" class="card-img-top" alt="...">
                            <div class="card-body">
                                 <h5 class="card-title" style="color: #208D79;">@item.Title</h5>
                                <p style="color: #208D79;">@item.Subtitle</p>
                              <p class="card-text" >@item.Description</p>
                              <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                          </div>
                        </div>
                    }
                      </div>
                      <div class="view-all" style="margin-bottom: 3rem;">
                        <a href="#" class="btn btn-primary" style="width:120px;margin-top:3rem; background-color:#208D79;">View All</a>
                      </div>
                </div>
            </div>
        </section>

        <section id="our-team">
            <div class="container">
                <div class="row">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        @foreach (var item in Model.teams)
                    {
                          <div class="col-3">
                          <div class="card">
                            <img src="~/assets/img/team/@item.ImageUrl" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">@item.Title</h5>
                              <p class="card-text">@item.Description</p>
                            </div>
                          </div>
                        </div>
                    }
                      </div>
                </div>
            </div>
        </section>

        <section id="contact">
            <h1 class="section-header">Contact</h1>
            <div class="contact-wrapper">
            <!-- Left contact page --> 
              
              <form id="contact-form" class="form-horizontal" role="form">
                <div class="form-group">
                  <div class="col-sm-12" >
                    <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12" style="margin-top: 1rem;">
                    <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value="" required>
                  </div>
                </div>
                <textarea class="form-control" style="margin-top: 1rem;" rows="10" placeholder="MESSAGE" name="message" required></textarea>
                <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
                  <div class="alt-send-button">
                    <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
                  </div>
                </button>
              </form>
              
            <!-- Left contact page --> 
              
                <div class="direct-contact-container">
                  <ul class="contact-list">
                    <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">City, State</span></i></li>
                    <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a href="tel:1-212-555-5555" title="Give me a call">(212) 555-2368</a></span></i></li>
                    <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a href="mailto:#" title="Send me an email">hitmeup@gmail.com</a></span></i></li>
                  </ul>
                  <div class="copyright">&copy; ALL OF THE RIGHTS RESERVED</div>
                </div>
            </div>
          </section>  
    </main>
